# Reshaping data with two header rows

In [ ]:
import pandas as pd
#read in the data - the header is row 2
df = pd.read_excel("epc_lad_counts_cfy_10-21.xlsx", header=1)
df.head()

     lad21cd     A       B     C     D  ...   C.10   D.10  E.10  F.10  G.10
0  E06000001  20.0   949.0  1842  2294  ...   6466   9912  2882   598   150
1  E06000002   NaN   758.0  2698  2358  ...  10076  13105  4459   810   214
2  E06000003   NaN   568.0  2259  2487  ...   7915  12755  5176  1232   332
3  E06000004  12.0  1324.0  7178  5942  ...  15092  19757  5831   953   204
4  E06000005   NaN   640.0  1868  2178  ...   6625   9445  4474  1022   260

[5 rows x 88 columns]

In [ ]:
#read in just row 1 and nothing else
years = pd.read_excel("epc_lad_counts_cfy_10-21.xlsx", skiprows=0, nrows=0, dtype=['str'])
#convert to a list, and to strings
years = list(map(str, list(years.columns)))
#show
print(years)
#replace the 00 timestamp in all items
years = [yr.replace(' 00:00:00', '') for yr in years]
print(years)

TypeError: ignored

## Break the problem down

We want to:

* Populate a column with the year for each set of figures.
* Reshape the dataframe from wide to long

Let's see what columns we have.

In [ ]:
df.columns

Index(['lad21cd', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'lad21cd.1', 'A.1', 'B.1',
       'C.1', 'D.1', 'E.1', 'F.1', 'G.1', 'lad21cd.2', 'A.2', 'B.2', 'C.2',
       'D.2', 'E.2', 'F.2', 'G.2', 'lad21cd.3', 'A.3', 'B.3', 'C.3', 'D.3',
       'E.3', 'F.3', 'G.3', 'lad21cd.4', 'A.4', 'B.4', 'C.4', 'D.4', 'E.4',
       'F.4', 'G.4', 'lad21cd.5', 'A.5', 'B.5', 'C.5', 'D.5', 'E.5', 'F.5',
       'G.5', 'lad21cd.6', 'A.6', 'B.6', 'C.6', 'D.6', 'E.6', 'F.6', 'G.6',
       'lad21cd.7', 'A.7', 'B.7', 'C.7', 'D.7', 'E.7', 'F.7', 'G.7',
       'lad21cd.8', 'A.8', 'B.8', 'C.8', 'D.8', 'E.8', 'F.8', 'G.8',
       'lad21cd.9', 'A.9', 'B.9', 'C.9', 'D.9', 'E.9', 'F.9', 'G.9',
       'lad21cd.10', 'A.10', 'B.10', 'C.10', 'D.10', 'E.10', 'F.10', 'G.10'],
      dtype='object')

And how many rows - do the LA codes in columns 9 and 17 match those in column 1?

In [ ]:
#how many rows
print(len(df))
#are the LA codes the same
print(sum(df[df.columns[0]] == df[df.columns[8]]))
#and so on
print(sum(df[df.columns[8]] == df[df.columns[16]]))

331
331
331

## Identify the indices for the columns we want to replace

We want to replace the duplicate LA code columns with a 'year' column.

In [ ]:
#how many columns
len(df.columns)

88

In [ ]:
#generate a range of indices from 8 to 88, every 8th item
codecols = range(8,len(df.columns),8)
#check the results match the cols we checked
print(list(codecols))

[8, 16, 24, 32, 40, 48, 56, 64, 72, 80]

## Replace the contents of a column at a particular index

We are going to need to select a column and populate it with a given value.

In [ ]:
#another way to access that column
df.iloc[:,8]

0      E06000001
1      E06000002
2      E06000003
3      E06000004
4      E06000005
         ...
326    W06000020
327    W06000021
328    W06000022
329    W06000023
330    W06000024
Name: lad21cd.1, Length: 331, dtype: object

In [ ]:
#can also be used to assign a value
df.iloc[:,8] = "HELLO"

In [ ]:
#now...
df.iloc[:,8]

0      HELLO
1      HELLO
2      HELLO
3      HELLO
4      HELLO
       ...
326    HELLO
327    HELLO
328    HELLO
329    HELLO
330    HELLO
Name: lad21cd.1, Length: 331, dtype: object

In [ ]:
#set a variable for the index
currentindex = 8
#use that to access the column at that index, and fill it with the date 7 positions previous in the first row we grabbed
df.iloc[:,currentindex] = years[currentindex-7]
#check
df.iloc[:,currentindex]

0      2010-11-01
1      2010-11-01
2      2010-11-01
3      2010-11-01
4      2010-11-01
          ...
326    2010-11-01
327    2010-11-01
328    2010-11-01
329    2010-11-01
330    2010-11-01
Name: lad21cd.1, Length: 331, dtype: object

## Encode that in a loop

Now we've tested the concept, we can encode it in a loop.

We just need to loop through those indices, and assign to the column at that position the date in the position 7 earlier in the first row from the original spreadsheet.

In [ ]:
#loop through the list of indices
for i in codecols:
  print(i)
  #use that to access the column at that index, and fill it with the date 7 positions previous in the first row we grabbed
  df.iloc[:,i] = years[i-7]
  #check
  df.iloc[:,i]

8
16
24
32
40
48
56
64
72
80

In [ ]:
#loop through the list of indices
for i in codecols:
  print(df.iloc[:,i])

0      2010-11-01
1      2010-11-01
2      2010-11-01
3      2010-11-01
4      2010-11-01
          ...
326    2010-11-01
327    2010-11-01
328    2010-11-01
329    2010-11-01
330    2010-11-01
Name: lad21cd.1, Length: 331, dtype: object
0      2011-12-01
1      2011-12-01
2      2011-12-01
3      2011-12-01
4      2011-12-01
          ...
326    2011-12-01
327    2011-12-01
328    2011-12-01
329    2011-12-01
330    2011-12-01
Name: lad21cd.2, Length: 331, dtype: object
0      2012-13
1      2012-13
2      2012-13
3      2012-13
4      2012-13
        ...
326    2012-13
327    2012-13
328    2012-13
329    2012-13
330    2012-13
Name: lad21cd.3, Length: 331, dtype: object
0      2013-14
1      2013-14
2      2013-14
3      2013-14
4      2013-14
        ...
326    2013-14
327    2013-14
328    2013-14
329    2013-14
330    2013-14
Name: lad21cd.4, Length: 331, dtype: object
0      2014-15
1      2014-15
2      2014-15
3      2014-15
4      2014-15
        ...
326    2014-15
327    2014-15
328    2014-15
329    2014-15
330    2014-15
Name: lad21cd.5, Length: 331, dtype: object
0      2015-16
1      2015-16
2      2015-16
3      2015-16
4      2015-16
        ...
326    2015-16
327    2015-16
328    2015-16
329    2015-16
330    2015-16
Name: lad21cd.6, Length: 331, dtype: object
0      2016-17
1      2016-17
2      2016-17
3      2016-17
4      2016-17
        ...
326    2016-17
327    2016-17
328    2016-17
329    2016-17
330    2016-17
Name: lad21cd.7, Length: 331, dtype: object
0      2017-18
1      2017-18
2      2017-18
3      2017-18
4      2017-18
        ...
326    2017-18
327    2017-18
328    2017-18
329    2017-18
330    2017-18
Name: lad21cd.8, Length: 331, dtype: object
0      2018-19
1      2018-19
2      2018-19
3      2018-19
4      2018-19
        ...
326    2018-19
327    2018-19
328    2018-19
329    2018-19
330    2018-19
Name: lad21cd.9, Length: 331, dtype: object
0      2019-20
1      2019-20
2      2019-20
3      2019-20
4      2019-20
        ...
326    2019-20
327    2019-20
328    2019-20
329    2019-20
330    2019-20
Name: lad21cd.10, Length: 331, dtype: object

This still leaves the last set of values where there isn't an LA code at the end.

In [ ]:
#fill in the last column
df['year10'] = '2020-21'

## Alternative approach - embed years in column names

We might notice that the columns are named with a period and a number to avoid duplicates - but this also allows us to connect them to a year. For example:

* A.1 and B.1 etc are 2011-12
* A.2 and B.2 etc are 2012-13

So we can replace the period (.) with 201 and get 

* A2011
* A2012

Or something along those lines.

In [ ]:
#start all over again
import pandas as pd
#read in the data - the header is row 2
df = pd.read_excel("epc_lad_counts_cfy_10-21.xlsx", header=1)
df.head()

     lad21cd     A       B     C     D  ...   C.10   D.10  E.10  F.10  G.10
0  E06000001  20.0   949.0  1842  2294  ...   6466   9912  2882   598   150
1  E06000002   NaN   758.0  2698  2358  ...  10076  13105  4459   810   214
2  E06000003   NaN   568.0  2259  2487  ...   7915  12755  5176  1232   332
3  E06000004  12.0  1324.0  7178  5942  ...  15092  19757  5831   953   204
4  E06000005   NaN   640.0  1868  2178  ...   6625   9445  4474  1022   260

[5 rows x 88 columns]

In [ ]:
df.columns

Index(['lad21cd', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'lad21cd.1', 'A.1', 'B.1',
       'C.1', 'D.1', 'E.1', 'F.1', 'G.1', 'lad21cd.2', 'A.2', 'B.2', 'C.2',
       'D.2', 'E.2', 'F.2', 'G.2', 'lad21cd.3', 'A.3', 'B.3', 'C.3', 'D.3',
       'E.3', 'F.3', 'G.3', 'lad21cd.4', 'A.4', 'B.4', 'C.4', 'D.4', 'E.4',
       'F.4', 'G.4', 'lad21cd.5', 'A.5', 'B.5', 'C.5', 'D.5', 'E.5', 'F.5',
       'G.5', 'lad21cd.6', 'A.6', 'B.6', 'C.6', 'D.6', 'E.6', 'F.6', 'G.6',
       'lad21cd.7', 'A.7', 'B.7', 'C.7', 'D.7', 'E.7', 'F.7', 'G.7',
       'lad21cd.8', 'A.8', 'B.8', 'C.8', 'D.8', 'E.8', 'F.8', 'G.8',
       'lad21cd.9', 'A.9', 'B.9', 'C.9', 'D.9', 'E.9', 'F.9', 'G.9',
       'lad21cd.10', 'A.10', 'B.10', 'C.10', 'D.10', 'E.10', 'F.10', 'G.10'],
      dtype='object')

In [ ]:
[i.replace('.',' 201') for i in df.columns]

['lad21cd',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'lad21cd 2011',
 'A 2011',
 'B 2011',
 'C 2011',
 'D 2011',
 'E 2011',
 'F 2011',
 'G 2011',
 'lad21cd 2012',
 'A 2012',
 'B 2012',
 'C 2012',
 'D 2012',
 'E 2012',
 'F 2012',
 'G 2012',
 'lad21cd 2013',
 'A 2013',
 'B 2013',
 'C 2013',
 'D 2013',
 'E 2013',
 'F 2013',
 'G 2013',
 'lad21cd 2014',
 'A 2014',
 'B 2014',
 'C 2014',
 'D 2014',
 'E 2014',
 'F 2014',
 'G 2014',
 'lad21cd 2015',
 'A 2015',
 'B 2015',
 'C 2015',
 'D 2015',
 'E 2015',
 'F 2015',
 'G 2015',
 'lad21cd 2016',
 'A 2016',
 'B 2016',
 'C 2016',
 'D 2016',
 'E 2016',
 'F 2016',
 'G 2016',
 'lad21cd 2017',
 'A 2017',
 'B 2017',
 'C 2017',
 'D 2017',
 'E 2017',
 'F 2017',
 'G 2017',
 'lad21cd 2018',
 'A 2018',
 'B 2018',
 'C 2018',
 'D 2018',
 'E 2018',
 'F 2018',
 'G 2018',
 'lad21cd 2019',
 'A 2019',
 'B 2019',
 'C 2019',
 'D 2019',
 'E 2019',
 'F 2019',
 'G 2019',
 'lad21cd 20110',
 'A 20110',
 'B 20110',
 'C 20110',
 'D 20110',
 'E 20110',
 'F 20110',
 'G 20110']

This doesn't quite work for the last one. We could fix that with a second block of code.

In [ ]:
#replace the columns with the cleaned versions
df.columns = [i.replace('.',' 201') for i in df.columns]
#then use to replace the last year error
df.columns = [i.replace('20110','2020') for i in df.columns]
df.columns

Index(['lad21cd', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'lad21cd 2011', 'A 2011',
       'B 2011', 'C 2011', 'D 2011', 'E 2011', 'F 2011', 'G 2011',
       'lad21cd 2012', 'A 2012', 'B 2012', 'C 2012', 'D 2012', 'E 2012',
       'F 2012', 'G 2012', 'lad21cd 2013', 'A 2013', 'B 2013', 'C 2013',
       'D 2013', 'E 2013', 'F 2013', 'G 2013', 'lad21cd 2014', 'A 2014',
       'B 2014', 'C 2014', 'D 2014', 'E 2014', 'F 2014', 'G 2014',
       'lad21cd 2015', 'A 2015', 'B 2015', 'C 2015', 'D 2015', 'E 2015',
       'F 2015', 'G 2015', 'lad21cd 2016', 'A 2016', 'B 2016', 'C 2016',
       'D 2016', 'E 2016', 'F 2016', 'G 2016', 'lad21cd 2017', 'A 2017',
       'B 2017', 'C 2017', 'D 2017', 'E 2017', 'F 2017', 'G 2017',
       'lad21cd 2018', 'A 2018', 'B 2018', 'C 2018', 'D 2018', 'E 2018',
       'F 2018', 'G 2018', 'lad21cd 2019', 'A 2019', 'B 2019', 'C 2019',
       'D 2019', 'E 2019', 'F 2019', 'G 2019', 'lad21cd 2020', 'A 2020',
       'B 2020', 'C 2020', 'D 2020', 'E 2020', 'F 2020', 'G 2020'],
      dtype='object')

And delete the duplicate columns

In [ ]:
#create a True/False list of which columns contain 'lad21cd'
lacols = ['lad21cd' in i for i in df.columns]
#fetch just those columns
lacolnames = df.columns[lacols]
#check
print(lacolnames)
#remove the first, as we'll want to keep that
lacolnames = lacolnames[1:]

Index(['lad21cd', 'lad21cd 2011', 'lad21cd 2012', 'lad21cd 2013',
       'lad21cd 2014', 'lad21cd 2015', 'lad21cd 2016', 'lad21cd 2017',
       'lad21cd 2018', 'lad21cd 2019', 'lad21cd 2020'],
      dtype='object')

In [ ]:
#drop those columns
df.drop(axis=0, columns=lacolnames)

       lad21cd     A       B     C  ...  D 2020  E 2020  F 2020  G 2020
0    E06000001  20.0   949.0  1842  ...    9912    2882     598     150
1    E06000002   NaN   758.0  2698  ...   13105    4459     810     214
2    E06000003   NaN   568.0  2259  ...   12755    5176    1232     332
3    E06000004  12.0  1324.0  7178  ...   19757    5831     953     204
4    E06000005   NaN   640.0  1868  ...    9445    4474    1022     260
..         ...   ...     ...   ...  ...     ...     ...     ...     ...
326  W06000020   NaN   371.0  1353  ...    7560    2507     412      93
327  W06000021   NaN   405.0  1743  ...    6658    2970    1130     416
328  W06000022  65.0  1167.0  5422  ...   11268    4327     679     177
329  W06000023   1.0   279.0  1406  ...    9189    5176    3048    1623
330  W06000024   NaN   334.0  2284  ...    5409    1987     401     109

[331 rows x 78 columns]

In [ ]:
#now save the results in the same dataframe
df = df.drop(axis=0, columns=lacolnames)
#check it's worked
df.columns

Index(['lad21cd', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'A 2011', 'B 2011',
       'C 2011', 'D 2011', 'E 2011', 'F 2011', 'G 2011', 'A 2012', 'B 2012',
       'C 2012', 'D 2012', 'E 2012', 'F 2012', 'G 2012', 'A 2013', 'B 2013',
       'C 2013', 'D 2013', 'E 2013', 'F 2013', 'G 2013', 'A 2014', 'B 2014',
       'C 2014', 'D 2014', 'E 2014', 'F 2014', 'G 2014', 'A 2015', 'B 2015',
       'C 2015', 'D 2015', 'E 2015', 'F 2015', 'G 2015', 'A 2016', 'B 2016',
       'C 2016', 'D 2016', 'E 2016', 'F 2016', 'G 2016', 'A 2017', 'B 2017',
       'C 2017', 'D 2017', 'E 2017', 'F 2017', 'G 2017', 'A 2018', 'B 2018',
       'C 2018', 'D 2018', 'E 2018', 'F 2018', 'G 2018', 'A 2019', 'B 2019',
       'C 2019', 'D 2019', 'E 2019', 'F 2019', 'G 2019', 'A 2020', 'B 2020',
       'C 2020', 'D 2020', 'E 2020', 'F 2020', 'G 2020'],
      dtype='object')

## Reshape from wide to long

Now we can reshape the data.

First we use `.melt()` to convert from wide to long, in a very basic way.

In [ ]:
#https://pandas.pydata.org/docs/reference/api/pandas.melt.html
longdf = pd.melt(df,id_vars='lad21cd', value_name='value')
print(longdf)

         lad21cd variable   value
0      E06000001        A    20.0
1      E06000002        A     NaN
2      E06000003        A     NaN
3      E06000004        A    12.0
4      E06000005        A     NaN
...          ...      ...     ...
25482  W06000020   G 2020    93.0
25483  W06000021   G 2020   416.0
25484  W06000022   G 2020   177.0
25485  W06000023   G 2020  1623.0
25486  W06000024   G 2020   109.0

[25487 rows x 3 columns]

This results in a very long dataframe - but allows us to split out the years en masse.

In [ ]:
print(longdf['variable'].value_counts())

C         331
F 2015    331
E 2017    331
B         331
D 2012    331
         ...
E         331
F 2018    331
E 2020    331
F 2012    331
B 2019    331
Name: variable, Length: 77, dtype: int64

In [ ]:
#split out the codes
codes = [i.split(' ')[0] for i in longdf['variable']]
codes[-10:]

['G', 'G', 'G', 'G', 'G', 'G', 'G', 'G', 'G', 'G']

In [ ]:
#add back into dataframe
longdf['code'] = codes
longdf

         lad21cd variable   value code
0      E06000001        A    20.0    A
1      E06000002        A     NaN    A
2      E06000003        A     NaN    A
3      E06000004        A    12.0    A
4      E06000005        A     NaN    A
...          ...      ...     ...  ...
25482  W06000020   G 2020    93.0    G
25483  W06000021   G 2020   416.0    G
25484  W06000022   G 2020   177.0    G
25485  W06000023   G 2020  1623.0    G
25486  W06000024   G 2020   109.0    G

[25487 rows x 4 columns]

The year is trickier because there's no year on the first set of codes, so a `.split()` function would return an error on those if you tried to access the second item after a split (the year)

In [ ]:
[i.split(' ')[1] for i in longdf['variable']]

IndexError: ignored

Instead, then we could grab the last four characters. This will tolerate a situation where there's only one character.

In [ ]:
years = [i[-4:] for i in longdf['variable']]
print(years[:10])
print(years[-10:])

['A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A']
['2020', '2020', '2020', '2020', '2020', '2020', '2020', '2020', '2020', '2020']

But this still leaves us with those single characters.

We can use a `for` loop and an `if` test to create a new list which either keeps the year or, if it's a single character, replaces it with '2010'.

In [ ]:
#create an empty list to fill
fullyrs = []
#loop through our list of years
for i in years:
  #if it's not a year, but a single character
  if len(i) == 1:
    #replace with the '2010' - this time a number
    fullyr = 2010
  #if it's a year
  else:
    #just keep it, but convert to a number (integer)
    fullyr = int(i)
  #then append whichever it was to the previously empty list
  fullyrs.append(fullyr)
print(fullyrs[:10])
print(fullyrs[-10:])

[2010, 2010, 2010, 2010, 2010, 2010, 2010, 2010, 2010, 2010]
[2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020]

In [ ]:
longdf['year'] = fullyrs
longdf.head()

     lad21cd variable  value code  year
0  E06000001        A   20.0    A  2010
1  E06000002        A    NaN    A  2010
2  E06000003        A    NaN    A  2010
3  E06000004        A   12.0    A  2010
4  E06000005        A    NaN    A  2010

In [ ]:
longdf.to_csv("longdf.csv")

## Create a pivot table

Now that can be used for analysis.

In [ ]:
longdf.pivot_table(index='lad21cd',values='value', columns=['code','year'])

code          A                          ...       G
year       2010  2011  2012  2013  2014  ...    2016    2017    2018    2019    2020
lad21cd                                  ...
E06000001  20.0  20.0  21.0  20.0  20.0  ...   129.0   134.0   143.0   146.0   150.0
E06000002   NaN   NaN   NaN   6.0   6.0  ...   180.0   190.0   198.0   209.0   214.0
E06000003   NaN   NaN  11.0  15.0  18.0  ...   290.0   302.0   313.0   322.0   332.0
E06000004  12.0  12.0  19.0  21.0  30.0  ...   175.0   180.0   186.0   192.0   204.0
E06000005   NaN   6.0   6.0  13.0  20.0  ...   226.0   235.0   245.0   253.0   260.0
...         ...   ...   ...   ...   ...  ...     ...     ...     ...     ...     ...
W06000020   NaN   1.0   4.0   4.0   5.0  ...    71.0    78.0    84.0    89.0    93.0
W06000021   NaN   NaN   NaN   4.0  10.0  ...   335.0   350.0   380.0   402.0   416.0
W06000022  65.0  86.0  87.0  89.0  92.0  ...   145.0   155.0   165.0   176.0   177.0
W06000023   1.0   2.0   8.0  19.0  25.0  ...  1317.0  1392.0  1493.0  1581.0  1623.0
W06000024   NaN   NaN   NaN   1.0   2.0  ...    94.0    98.0   100.0   106.0   109.0

[331 rows x 77 columns]

In [ ]:
pivotbycodeyr = longdf.pivot_table(index='lad21cd',values='value', columns=['code','year'])
pivotbycodeyr.to_csv("pivotbycodeyr.csv")